/********************************************
* Navigation Bar
********************************************/
#projectsNavBar.navbar {
    display: none;
}

#projectsNavBar.navbar.scrolled {
    background-image: linear-gradient(rgba(200, 255, 255, 1), rgba(150, 255, 255, 0.5));
    display: flex;
    justify-content: center;
}

#projectsNavBar a{
    font-family: 'Abril Fatface';
    font-size: 1.5rem;
}

#projectsNavBar .navbar-brand:hover {
    cursor: pointer;
    color: rgb(0,0,0,0.7);
}

.editor {
    /** Setting height is also important, otherwise editor wont showup**/
    height: 45vh;
}